[Unit]
Description=ACS LLDP Sync Daemon
After=redis-server.service syslog.service

[Service]
Type=simple
WorkingDirectory=/usr/sbin
ExecStart=/usr/sbin/lldpsyncd
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

